.movieinput{
    background: #c8262678;
padding-bottom: 20px;
text-align: center;
font-size: 14px;
border-color: black;
border-style: solid;
}
.btn-add{
        padding: 5px;
        display: block;
        margin: 80px;
        font-size: 18px;
        border-radius: 10%;
        background-color: rgba(27, 27, 27, 0.822);
        border-style: none;
        color: rgba(195, 55, 55, 0.616);
       display: table-column;
    
}
